@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 100;
  font-size: 3em;
}

h2 {
  font-weight: 100;
  font-size: 3em;
}

.container {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  width: 100vw;
}
.topbar {
  background: #000;
  width: 100%;
  color: white;
  text-align: center;
  height: 200px;
}

.topbar h1 {
  position: relative;
  top: 30%;
  transform: perspective(1px) translateY(-50%);
}

.home {
  margin: 0 auto;
  margin-top: 1vh;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  width: 80%
  /* align-items: center; */
}

.home h2 {
  width: 100%;
  text-align: center;
}

.order {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: flex-start;
  min-width: 300px;
  text-align: center;
}


.light {
  font-weight: 100;
  color: lightgray;
}

.items {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
}

.itemcard {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  box-shadow: 1px 3px 3px lightgray;
  height: 400px;
  width: 250px;
  margin: 1em;
  padding: 1em;
}

.itemcard:hover {
  box-shadow: 3px 6px 4px lightgray;
}

.buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
}

.price {
  font-size: 1rem;
  text-align: center;
}

li {
  margin: 0 2em;
}

.order li {
  font-size: 1rem;
  list-style-type: none;
  margin: 1em;
  padding: 0;
}

.order li:hover button {
  display: inline;
}
.order li button {
  border: 0;
  display: none;
  line-height: 1;
  padding: 0;
}
.order li.total {
  font-weight: 600;
}
.order li.unavailable {
  text-decoration: line-through;
  background: #f8d0d2;
}

/* .order li .price {
  font-size: 1.2rem;
} */

.order li span.count {
  position: relative;
  overflow: hidden;
}
.order li span.count span {
  display: inline-block;
}
.order-title {
  text-align: center;
}

.order button {
  background: none;
  font-weight: 100;
  font-size: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  z-index: 2;
  padding: 0;
}

.subtotal .subtotalPrice {
  display: block;
  float: left;
}

.subtotal .delete{
  display: block;
  float: right;
}

.items button {
  text-transform: uppercase;
  background: none;
  border: 1px solid #000;
  font-weight: 600;
  font-size: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  z-index: 2;
}

button:hover {
  cursor: pointer;
}

button[disabled] {
  color: #d12028;
  background: #fff;
  border-color: #d12028;
  -webkit-transform: rotate(-3deg) scale(1);
          transform: rotate(-3deg) scale(1);
}

button[disabled]:hover {
  cursor: not-allowed;
  color: #d12028;
}

button[disabled]:after {
  display: none;
}

button:after {
  content: '';
  z-index: -1;
  display: block;
  background: #000;
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  top: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
button:hover,
button:focus{
  color: #fff;
  outline: 0;
}
button:hover:after,
button:focus:after{
  height: 100%;
}

.footer {
  margin: 1em;
}

button .delete{
  border: none;
}

/* div {
  border: 1px dotted red;
} */